<%= render :layout => 'perc_mailer/title' do %>
  Welcome to League&#44; <%= @user[:name] %>!
<% end %>

<%= render :layout => 'perc_mailer/message' do %>
 <p>Create teams, schedule games, invite players and organize your teams all in one place with League.</p>
 <p>We make it easier to confirm players and get reminders about upcoming games via email. Create your team below to get started.</p>
<% end %>

<%= render 'perc_mailer/btn', :verb => :create %>