<tr class="dblbtn">
	<td valign="top" align="center">
	  <a href="http://twitter.com/#!/BindleMe">
  	  <img align="center" src="<%=asset_path "emails/btne_follow_152x28.gif"%>"  width="152" height="28" alt="Follow on Twitter">
	  </a>
	  <a href="http://twitter.com/#!/BindleMe" class="hide">Follow on Twitter</a>
	  
	  <a href="http://www.facebook.com/BindleMe">
  	  <img align="center"  src="<%=asset_path "emails/btne_like_150x28.gif"%>"  width="150" height="28" alt="Like on Facebook">
	  </a>
	  <a href="http://www.facebook.com/BindleMe" class="hide">Like on Facebook</a>
	  
	  <p class="sub">
	    Bindle is a show and tell for gear. Create beautiful maps of your favorite things.<br>
	    Tell your story and discover quality gear in your interests.
	  </p>
	</td>
</tr>