<tr class="error">
	<td valign="top">
	  <table width="528px" align="center">
	    <tbody>
	      <tr>
	       <td>
	        <%= yield %>
	       </td>
        </tr>
      </tbody>
    </table>
	</td>
</tr>