<tr class="summary">
	<td valign="top">
	  <table width="520px" align="center">
	    <tbody>
	      <tr>
	        <td class="guide" >
	          <p><strong>What is Bindle?</strong></p>
	          <p>We&rsquo;re a community of passionate enthusiasts focussed on finding and sharing great products. We&rsquo;re interested in the story behind how people use their gear.</p>
	        </td>
	        <td class="guide last" >
	          <p><strong>Who we are:</strong></p>
	          <p>We are object enthusiasts who care about finding the right things for our lifestyles. We&rsquo;re techies, cyclists, musicians, runners, infographic-lovers, and [aspiring] conneiseurs.</p>
	        </td>
        </tr>
      </tbody>
    </table>
	</td>
</tr>