<tr class="threefold">
	<td valign="top">
	  <table width="520px" align="center">
	    <tbody>
	      <tr>
	        <td class="fold1" >
	          <img align="center" display="block" src="<%=asset_path "emails/iconse_welcome_map_160x90.jpg"%>"  width="160" height="90" alt="View Bindle"  >
	          <p class="subheader">Perspective</p>
	          <p>Keep track of the goods you want and the things you have in our collage. Create maps of your favorite things.</p>
	        </td>
	        <td class="fold2" >
	          <img align="center" display="block" src="<%=asset_path "emails/iconse_welcome_belljar_160x90.jpg"%>"  width="160" height="90" alt="View Bindle"  >
	          <p class="subheader">Engage</p>
	          <p>Get advice from fellow enthusiasts that share your gear. Learn from their experiences and share yours.  </p>
	        </td>
	        <td class="fold3" >
	          <img align="center" display="block" src="<%=asset_path "emails/iconse_welcome_suitecase_160x90.jpg"%>"  width="160" height="90" alt="View Bindle"  >
	          <p class="subheader">Discover</p>
	          <p>Explore the collections of likeminded people to discover the right tools to help you do what you love - better.</p>
	        </td>
        </tr>
      </tbody>
    </table>
	</td>
</tr>