<table id="footer" cellspacing="0" cellpadding="0" border="0" align="center" width="600">
  <tbody>
    <tr class="divider"><td valign="top"></td></tr>
    <tr>
    	<td class="links" valign="top" >
    		<%= mail_to "us@percolatestudio.com", 'Unsubscribe' %> <span>|</span> <a href="http://www.facebook.com/GetLeague">Facebook</a> <span>|</span> <a href="http://twitter.com/#!/GetLeague">Twitter</a>
    	</td>	
    </tr>
  </tbody>
</table>