<table id="header" cellspacing="0" cellpadding="0" border="0" align="center" width="600">
  <tbody>
    <tr>
      <td valign="top" align="center">
        <%= link_to "http://www.getleague.com/" do %>
          <%= image_tag 'emails/text_imge_header_164x48.gif', :size => '164x48', 
              :alt => "League",  :align => 'center', :display => 'block' %>
        <% end %>
      </td>	
    </tr>
    <tr class="divider"><td valign="top"></td></tr>
  </tbody>
</table>