<tr class="topcap welcome">
  <td valign="top">
    <img align="center" src="<%=asset_path "emails/bge_mail_600x5.gif"%>" height="5" width="600" >
    <table width="600" cellspacing="0" cellpadding="0" border="0">
      <tbody>
        <tr>
          <td valign="top" align="left">
            <img class="welcome" src="<%=asset_path "emails/text_imge_welcome_97x43.gif"%>" height="43" width="97" >
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>